
# FVM Version Cache
.fvm/

# Dart/Flutter build outputs
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub/
**/pubspec.lock

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml
